<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">PokéMon<small style="color: gray">Cocktails</small></a>
  <div class="home-banner text-center">
    <p>
      <span class="moving-text" id="banner-typed-text"></span>
    </p>
  </div>
</nav>



<div class="cocktail-cards d-flex align-items-center justify-content-around">
  <div class="row">
    <% @cocktails.each_with_index do |cocktail, index| %>
      
      <% array = ["d10_v2jmca", "d9_bbzlxf", "d6_wgn7pd", "d8_etgkjl", "d7_lkxbhf", "d1_exgqm6", "d2_dyi8qf", "d3_x8kn6k", "d4_zamq2f", "d5_axrint"].sample %>
      
      <div class="col-sm-12 col-md-6 col-lg-4" >
        
        <% if cocktail.photo.attached? %>

          <div class="cocktail-card"
               data-aos="flip-left"
               style="background-image: linear-gradient(rgba(0,0,0,0.3),
                                        rgba(0,0,0,0.3)),
                                        url('<%= cl_image_path(cocktail.photo.key, width: 400, height: 300, crop: :fill) %>') ">
            <p><%= index+1 %>. <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>

        <% else %>

          <div class="cocktail-card"
               data-aos="flip-left"
               style="background-image: linear-gradient(rgba(0,0,0,0.3),
                                        rgba(0,0,0,0.3)),
                                        url('<%= cl_image_path(array, width: 400, height: 300, crop: :fit) %>') ">
            <p><%= index+1 %>. <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>

        <% end %>
        
      </div>
    <% end %>
  </div>
</div>
<div class="footer">
  <small><%= link_to "+Add Cocktail", new_cocktail_path %></small>
</div>

<script>
  AOS.init();
</script>